In [1]:
# Se importa el módulo y se le asigan un alias
# pd
import pandas as pd

In [2]:
# Crear un DataFrame con datos de estudiantes
# Se crea un diccionario de datos.
data = {
    "Nombre": ["Ana", "Juan", "Pedro"],
    "Edad": [20, 22, 21],
    "Calificacion": [90, 85, 88]
}

In [5]:
# Se crea la estructura DataFrame con el valor de data
df = pd.DataFrame(data)

# Mostrar el DataFrame en pantalla
df

  Nombre  Edad  Calificacion
0    Ana    20            90
1   Juan    22            85
2  Pedro    21            88

In [4]:
# Calcular la media de calificaciones, haciendo uso de la 
# función mean a la columna de calificaciones
#
print(f'Media de calificaciones: {df["Calificacion"].mean():.2f}')

Media de calificaciones: 87.67